body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}


html {
    scroll-behavior: smooth;
  }

header .navbar {
    background: transparent;
    transition: background 0.5s;
    animation: fade 0.5s ease-in-out;
}

header .navbar.scrolled {
    background: white;
}
#hero {
    height: 100vh;
    background: url('https://static.vecteezy.com/system/resources/previews/007/209/963/non_2x/galaxy-stars-in-the-universe-outside-earth-abstract-graphic-design-wallpaper-card-3d-free-photo.jpg') no-repeat center center/cover;
    color: white;
    text-align: center;
}
.ski{
    background: url('https://static.vecteezy.com/system/resources/previews/007/209/963/non_2x/galaxy-stars-in-the-universe-outside-earth-abstract-graphic-design-wallpaper-card-3d-free-photo.jpg') no-repeat center center/cover;
   
}
.main{
    background-color: #845162;
}

#hero *{
    animation: fade 0.5s ease-in-out; 
}

#about,
#skills,
#projects,
#contact {
    padding: 60px 0;
   
}

footer {
    background-color: white;
    color: white;
    background: url('https://static.vecteezy.com/system/resources/previews/007/209/963/non_2x/galaxy-stars-in-the-universe-outside-earth-abstract-graphic-design-wallpaper-card-3d-free-photo.jpg') no-repeat center center/cover;
   
    
   
}

.it{
    margin: 1rem 0;
    animation: fade;
    animation-timeline: view(70% auto);
    
}
.card-body{
    background-color:black;
    background: url('https://static.vecteezy.com/system/resources/previews/007/209/963/non_2x/galaxy-stars-in-the-universe-outside-earth-abstract-graphic-design-wallpaper-card-3d-free-photo.jpg') no-repeat center center/cover;
   
}

.it:hover{
    scale: 1.2;
    color: #3498db;
}




section{
    animation: fade;
    animation-timeline: view(70% auto);
}

@keyframes fade {
    from{
        opacity: 0;
        scale: 0;
    }to{
        opacity: 1;
        scale: 1;
    }
}
